body {
  background-color: #181616;
  width: 400px;
  height: 400px;
  position; relative;
  transition: 0.5s;
}

.box {
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border: 3px solid  #181616;
  border-radius: 3px;
  color: #181616;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  padding: 15px;
  top: 200px;
  left: 300px;
  overflow: visible;
}


.orange-square{
  display: block;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 3px;
  border: 3px solid salmon;
  padding: 15px;
  top: 200px;
  left: 300px;
  overflow: visible;
  transition: 0.5s;
}

.text {
  display: block;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  padding: 15px;
  top: 240px;
  left: 300px;
  overflow: visible;

}

.orange-square:hover{
  transform: rotate(45deg);
  color: salmon;
}

body:hover{
  color: salmon;
}
